@{
    ViewBag.Title = "About Dream Event Planners";
}
<h2>@ViewBag.Title.</h2>


<p>
    Dream Event Planners specializes in classy & stylish weddings, birthday party,corporate meeting.
    We pride ourselves on being stylish & modern while remaining elegant & classic. We are very detail oriented and organized,
    and our clients find us very comfortable to work with.
    As a client, please feel free to discuss your ideas with us.
    We want to hear them! We will help create a day that you will love to look back on and leave your guests in awe…
</p>
