@model  IEnumerable<PlanYourEvent.Models.Eventtype>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var p in Model)
    {
        <li>@Html.ActionLink(p.Event_Name, "ViewEvent", "Home", new { Event_Name = p.Event_Name }, null)</li>
    }
</ul>

